<div class="row text-center body">
  <div class="col-lg-4 mx-auto my-auto">

     <div class="card rounded-0 shadow">
        <div class="card-header fw-bold">
         <span class="display-5 mb-4">Giriş</span> 
        </div>
        <div class="card-body">

           <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-floating mb-3">
                 <input type="email" class="form-control" [readonly]="setCurrentCustomerEmail()" id="email" placeholder="email" formControlName="email">
                 <label for="email">E-Posta Adresiniz</label>
              </div>

              <div class="form-floating mb-3">
                 <input type="password" class="form-control" id="password" placeholder="password"
                        formControlName="password">
                 <label for="password">Şifreniz</label>
              </div>

              <div class="row mb-4">
                 <div class="col-lg-6 my-auto text-start">
                    <i class="bi-building ms-1"></i> RUNCORP &copy;{{ getYear() }}
                 </div>
                 <div class="col-lg-6">
                    <div class="d-grid">
                       <button class="btn btn-primary rounded-0">
                          <i class="bi-box-arrow-in-right me-1"></i> Giriş Yap
                       </button>
                    </div>
                 </div>
              </div>
           </form>

           <div class="d-block text-start">
              <span class="register" routerLink="/auth/register">
                 <i class="bi-check2-all me-1"></i> Yeni bir kayıt oluşturun
              </span>
           </div>

        </div>
     </div>
  </div>
</div>


<!-- <body class="text-center">
    <main class="form-signin">
      <form [formGroup]="loginForm">
           <!-- <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> 
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    
        <div class="form-floating mb-2">
          <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email</label>
        </div>

        <div class="form-floating mb-2">
          <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
    
        <div class="checkbox mb-2">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" (click)="login()">Sign in</button>
        
        <p class="mt-3 text"><b>Email:</b> test@test.com <b>Password:</b> 232323</p>
        <p class="mt-3 mb-2 text-muted">Rent a car company &copy; 2020–2021</p>
      </form>
   </main>
</body> -->