<div class="container mt-3 px-5">
  <div class="row">

    <div *ngIf="dataLoaded == false" class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>  
        
    <div>
      <div class="mb-3">
        <input
          type="text"
          [(ngModel)]="filterTextCustomer"
          class="form-control"
          id="filterTextCustomer"
          placeholder="Search Customer Name"
        />
      </div>
      <div *ngIf="filterTextCustomer" class="alert alert-info">
        <b>You are looking for:</b> {{ filterTextCustomer }}
      </div>
    </div>

    <div>
      <table class="table table-hover table-striped border">
        <thead>
          <tr>
            <th class="text-center" style="width: 50px">#</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Eposta</th>
            <th>Şirket</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers | filterPipeCustomer: filterTextCustomer">
            <th class="text-center">{{ customer.id }}</th>
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.lastName }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.companyName }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-grid">
      <button class="btn btn-primary" routerLink="/colors/add">
        <i class="bi-plus-square me-1"></i> Yeni Müşteri Ekle
     </button>
   </div>

  </div>
</div>
  