 <div class="row">
  <div class="col-lg">
    <div>
      <input type="text" [(ngModel)]="filterText" class="form-control rounded-0 mb-3"
      placeholder="Marka Ara" autocomplete="off">
    </div>
     <table class="table table-hover table-striped border">
        <thead>
        <tr>
           <th class="text-center" style="width: 50px">#</th>
           <th>Marka</th>
           <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let brand of brands | filterPipeBrand: filterText">
           <th class="text-center">{{ brand.id }}</th>
           <td>{{ brand.name }}</td>
           <td class="text-end">
              <button class="btn btn-primary  btn-sm"
                      routerLink="/brands/update/{{ brand.id }}">
                 <i class="bi-pencil me-1"></i> GÜNCELLE
              </button>
           </td>
        </tr>
        </tbody>
     </table>
     <div>
      <div class="d-grid">
        <button class="btn btn-primary" routerLink="/brands/add">
           <i class="bi-plus-square me-1"></i> Yeni Marka Ekle
        </button>
     </div>
     </div>
  </div>

</div>


<!-- <div class="mb-3">
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterTextBrand"
    placeholder="Search Brand Name"
  />
</div>
<div *ngIf="filterText" class="alert alert-info">
  <b>You are looking for:</b> {{ filterText }}
</div>

<ul class="list-group">
  <li routerLink = "/cars" class="list-group-item strong h5">All Brands</li>    
</ul>
<ul class="list-group">
  <li (click)="setCurrentBrand(brand)" *ngFor="let brand of Brands | filterPipeBrand: filterText"  routerLink = "/cars/brand/{{brand.id}}" [class]="getCurrentBrandClass(brand)">
    {{brand.name}}
  </li>
</ul>
<div class="mt-2">
  <div>
    <select class="form-select col-md-9" aria-label="Default select example">
      <option selected>Select Brand</option>
      <option routerLink = "/cars" class="h5">All Brands</option>

      <option
      *ngFor="let brand of brands | filterPipeBrand: filterText" 
      (click)="setCurrentBrand(brand)" 
      routerLink="/cars/brand/{{brand.id}}" 
      [class]="getCurrentBrandClass(brand)"
      >
      {{brand.name}}      
      </option>
    </select>    
  </div>
  <div>
    <button type="button" class="btn btn-primary">Filter</button>
  </div>

</div>




 -->