<body class="text-center">
    <main class="form-signin">
      <form [formGroup]="registerForm">
        <!-- <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
    

        <div class="form-floating mb-2">
            <input formControlName="firstName" type="text" class="form-control" id="floatingFirstName" placeholder="First Name">
            <label for="floatingInput">First Name</label>
          </div>
          <div class="form-floating mb-2">
            <input formControlName="lastName" type="text" class="form-control" id="floatingLastName" placeholder="Last Name">
            <label for="floatingInput">Last Name</label>
          </div>
        <div class="form-floating mb-2">
          <input formControlName="email" type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating mb-2">
          <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" (click)="register()">Sign up</button>
        
        <p class="mt-2 mb-2 text-muted">Rent a car company &copy; 2020–2021</p>
      </form>
    </main>
    
    
        
      </body>