
 
 *:focus, *:focus:active {
    box-shadow: none;
 }
 
 input:focus {
    border-color: #0D6EFD;
 }
 
 .form-check-input, .form-check-label{
    cursor: pointer;
 }
 
 button{
    padding-right: 18px;
    padding-left: 18px;
 }