<div>
  <div *ngIf="dataLoaded == false" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  
  <div class="mb-3">
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control form-control-lg"
      id="filterText"
      placeholder="Search vehicle specification"
    />
  </div>
  <div *ngIf="filterText" class="alert alert-info">
    <b>You are looking for:</b> {{ filterText }}
  </div> 

  
<div class="">
  <div class="row justify-content-xl-center">



    <div class="col-md-3">
      <app-brand></app-brand>
      <br />
      <app-color></app-color>
    </div>
    <div class="row col-md-9">
      <div *ngFor="let car of Cars | filterPipe: filterText" class="col-md-3 mb-4">
        <div class="card">
          <img [src]="SetImage(car)" class="card-img-top myimg" alt="{{ car.description }}" />
          <div class="card-body">
            <h4 class="card-title">{{ car.carName | uppercase }}</h4>
            <p class="card-text"><b>Açıklama:</b> {{ car.description }}.</p>
            <p class="card-text">
              <b>Günlük Fiyat:</b> {{ car.dailyPrice | currency }} <br />
              <b>KDV Dahil:</b> {{ car.dailyPrice | vatAdded: 18 | currency }}
            </p>
            <button (click)="addToCart(car)" class="btn btn-success float-end ms-2">Rent it</button>
            <button routerLink="/cars/detail/{{ car.carId }}" class="btn btn-primary float-end">Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- <h4>CARS</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Car Name</th>
      <th scope="col">Brand</th>
      <th scope="col">Year</th>
      <th scope="col">Color</th>
      <th scope="col">Daily Price</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <th scope="row">{{ car.carId }}</th>
      <td>{{ car.carName }}</td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.dailyPrice }}</td>
      <td>{{ car.description }}</td>
    </tr>
  </tbody>
</table> -->
