.card{
    border: none;
    background: #eee;
}

.description-text{
    font-size: 15px;
    color: #777777;
}

.cost-text{
    font-size: 13px !important;
    color: #777777 !important;
}

.cost span{
    color: #0d6efd;
    font-weight: bold;
    font-size: 20px;
}

.button{
    background: #0d6efd;
}

.cursor{
    cursor: pointer;
}

.image{
    min-height: 220px;
    max-height: 220px;
    object-fit: cover;    
} 
