<footer class="container-fluid bg text-light position-relative mt-5">
  <div class="row p-2">

    <div class="col">
      <h1 class="fs-3 fw-light">Rent a Car Company</h1>
    </div>

    <div
      id="links"
      class="col d-flex justify-content-center align-items-center"
    >
      <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
        Home
      </a>
      <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
        About us
      </a>
      <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
        Cars
      </a>
      <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
        Contact
      </a>
    </div>
  </div>
</footer>
