<footer class="container-fluid bg text-light position-relative mt-5">
  <div class="row p-2">

    <div class="col align-items-center">
      <h1 class="fs-2 fw-bold">RUNCORP</h1>
    </div>

    <div
      id="links"
      class="col  d-flex justify-content-end  align-items-center"
    >
      <a routerLink="" alt="" class="px-4 fs-4 link-light text-decoration-none">
        Home
      </a>
      <a routerLink="/about-us" alt="" class="px-4 fs-4 link-light text-decoration-none">
        Hakkımızda
      </a>
      <a routerLink="/cars" alt="" class="px-4 fs-4 link-light text-decoration-none">
        Araçlar
      </a>
      <a routerLink="/contact" alt="" class="px-4 fs-4 link-light text-decoration-none">
        İletişim
      </a>
    </div>
  </div>
</footer>
